<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>
<body>


    <div>

        <form action="/" method="POST">

            {% csrf_token %}

            {{ TaskForm.title }}

            <input class="btn" type="submit" name="Create Task">



        </form>
        <br>

    </div>

    <div>

        {% for task in tasks %}
        <p>{{ task }}</p>


        {% if task.completed == True %}
            <p>Task Completed</p>

        {% else %}
            <p>Task not yet completed</p>

        {% endif %}
        <a href="{% url 'update-task' task.id %}">
            Update Task
        </a>

        <a href="{% url 'delete-task' task.id %}">
            Delete Task
        </a>
        <br>
        <br>

        {% endfor %}

    </div>



    



</body>
</html>